* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*=============== acesso rápido ===============*/

.d-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.d-flex-bit{
    display: flex;
    justify-content: space-between;
}

.centraliza{
    display: flex;
    justify-content: center;
}

.relativo{
    position: relative;
}

/*=============== acabou acesso rápido ===============*/



/*=============== cabeçalho ===============*/

header{
    background: linear-gradient(10deg, #fb822e, #d6600c);
}

h1{
    color: white;
    font-size: 50px;
    font-family: "Oleo Script", Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

header input{
    background-color: #f0f0f0;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: transparent;
    margin-top: 10px;
    padding-left: 10px;
}

header button{
    background-color: #ebebeb;
    color: #fb822e;
    font-size: 17px;
    width: 100px;
    height: 50px;
    border-radius: 17px;
    border: transparent;
    margin-top: 10px;
    margin-right: 30px;
    transition: 0.5s;
    
}

header button:hover{
    background-color: #000000;
    color: #ffffff;
    
}

/*=============== acabou cabeçalho ===============*/

/* Modal Inserção */
/*=============== catalago ===============*/

 .categoria{
    color: #fb822e;
    margin-left: 40px;
    font-size: 25px;
    margin-top: 50px;
 }

 .quadro{
    border: 1px solid #000000;
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 250px;
    height: 330px;
    margin-left: 30px;
 }

 .quadro:hover{
    border: 2px solid #fb822e;
    background-color: #ebebeb;
 }

 .quadro img{
    height: 200px;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0.1px solid #000000;
    border-radius: 15px;
 }

 .nome{
    color:#000000;
    font-size: 25px;
    margin-left: 35px;
 }

 .preco{
    color:#535353;
    margin-left: 35px;
 }

 .repart {
    text-align: center;
    font-size: 27px;
    color: #fb822e;
    margin-top: 15px;
    margin-bottom: 15px;
 }

/*=============== acabou catalago ===============*/

/*=============== modal adicionar ===============*/

.modal_inserir {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal_inserir_content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    padding: 40px;
    align-items: center;
    background-color: #fb822e;
}

.inserir-form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/*=============== acabou modal adicionar ===============*/

/*=============== modal ver mais ===============*/

.sombra{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.quadro-modal{
    border-radius: 8px;
    width: 750px;   
    background-color: #f1f1f1;
    
}

.quadro-modal img{
    height: 350px;
    border: 1px solid #fb822e;
    border-radius: 15px;
    margin: 10px
}

.quadro-modal .nome{
    margin-top: 20px;
    margin-left: 10px;
    color: #fb822e;
    font-size: 40px;
}

.quadro-modal .preco{
    margin-left: 10px;
}

.quadro-modal .descri{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.quadro-modal .x{
    font-size: 20px;
    height: 30px;
    width: 30px;
    color: #fb822e;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #fb822e;
    display: flex;
    justify-content: center;
    margin-left: 330px;
    margin-top:10px;
}

.quadro-modal .x:hover{
    color: #ffffff;
    background-color: #fb822e;
    border: 2px solid #fb822e;
}

.quadro-modal button{
    font-size: 20px;
    height: 35px;
    width: 120px;
    color: #fb822e;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fb822e;
}

.quadro-modal button:hover{
    color: #ffffff;
    background-color: #fb822e;
    border: 2px solid #fb822e;
}


/*=============== acabou modal ver mais ===============*/

  .line-text {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre as linhas e o texto */
  }
  
  .line-text span {
    flex: 1;
    height: 1px;
    background-color: #fb822e;
  }



  ::-webkit-scrollbar{

    width: 0px;
}

::-webkit-scrollbar-thumb{
    width: 0px;
}
