* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*=============== acesso rápido ===============*/

.d-flex{
    display: flex;
}

.d-flex-bit{
    display: flex;
    justify-content: space-between;
}

.centraliza{
    display: flex;
    justify-content: center;
}

.relativo{
    position: relative;
}

/*=============== acabou acesso rápido ===============*/



/*=============== cabeçalho ===============*/

header{
    background: linear-gradient(10deg, #fb822e, #d6600c);
}

h1{
    color: white;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

header input{
    background-color: #d1d1d1;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    border: transparent;
    margin-top: 10px;
    padding-left: 10px;
}

header button{
    background-color: #ebebeb;
    color: #fb822e;
    font-size: 17px;
    width: 100px;
    height: 50px;
    border-radius: 17px;
    border: transparent;
    margin-top: 10px;
    margin-right: 30px;
    transition: 0.5s;
    
}

header button:hover{
    background-color: #000000;
    color: #ffffff;
    
}

/*=============== acabou cabeçalho ===============*/


